.env
.env.*

__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

*.log

applied_jobs.csv
nkPool.txt
naukri_cookies.json
linkedin_cookies.json
naukri_jobs.xlsx
job_applications.xlsx

.DS_Store
Thumbs.db

.vscode/
.idea/

build/
dist/
*.egg-info/

.coverage
htmlcov/
.vercel
.env*
